alembic==1.13.2
dbfread==2.0.7
exceptiongroup==1.2.2
flake8==7.1.1
flake8-broken-line==1.0.0
flake8-isort==6.1.1
flake8-plugin-utils==1.3.3
flake8-return==1.2.0
greenlet==3.1.0
importlib-metadata==8.5.0
importlib-resources==6.4.5
iniconfig==2.0.0
isort==5.13.2
Mako==1.3.5
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==24.1
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.3
region-finder-ru==0.0.2
SQLAlchemy==2.0.35
tomli==2.0.1
typing-extensions==4.12.2
zipp==3.20.2
